.blog-content {
  @media @screen-tablet {
    padding-top: 58px;
    margin-bottom: 56px;
  }
  @media @screen-desktop {
    padding: 58px 90px 0px 88px;
  }
  &__news {
    padding: 0px 20px;
    @media @screen-tablet {
      padding: 0px 30px 0px 102px;
      margin-bottom: 33px;
    }
    @media @screen-desktop {
    padding: 0px 100px 0px 102px;
    margin-bottom: 42px;
    }
    a {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.7rem;
      text-decoration: @text-decoration;
      color: @text-color--headers;
      letter-spacing: 0.4px;
      padding: 11px 0px 10px 0px;
      display: block;
      @media @screen-tablet {
        font-size: 2.7rem;
        line-height: 3rem;
        letter-spacing: 0.5px;
        padding: 11px 0px 5px 0px;
        position: relative;
      }
      &:before {
        @media @screen-tablet {
        content:"";
        position: absolute;
        width: 51px;
        height:50px;
        top:11px;
        left: -73px;
        background-image: url("../img/sprt.svg");
        background-position: -68px 0px;
        background-repeat: no-repeat;
        background-size: 423px;
       }
       @media @screen-desktop {
        top: 8px;
       }
      }
    }
    div {
      .div-text-style ();
      text-transform: uppercase;
      @media @screen-tablet {
        font-size: 1.4rem;
        line-height: 3rem;
      }
    }
    p {
      font-size: @font-size--small;
      color: @text-color--headers;
      padding: 7px 0px 19px 0px;
      line-height: 2.7rem;
      border-bottom: 2px solid @border-color;
      @media @screen-tablet {
        font-size: 1.8rem;
        line-height: 3rem;
        padding: 0px 80px 41px 0px;
        border-bottom: 2px dotted @border-color;
      }
      @media @screen-desktop {
      padding: 0px 0px 41px 0px;
      }
    }
  }
  &__news {
   &:nth-child(3) {
    padding-top: 4px;
    padding-bottom: 9px;
    @media @screen-tablet {
      padding: 5px 30px 0px 102px;
      margin-bottom: 45px;
      }
    @media @screen-desktop {
      padding: 2px 101px 0px 102px;
      }
    }
  }
  &__news {
    &:nth-child(4) {
      p {
        border-bottom: none;
        @media @screen-tablet {
          padding-bottom: 10px;
        }
      }
    }
  }
  &__paginator {
    padding: 15px 10px 0px 19px;
    font-size: 0px;
    @media @screen-tablet {
      padding: 15px 10px 0px 43px;
    }
    @media @screen-desktop {
      padding-top: 39px;
      margin-bottom: 67px;
    }
    div,
    a,
    b {
      display: inline-block;
    }
    a,
    b {
      .border-style();
      .headers-text-style();
      text-decoration: @text-decoration;
      color: @text-color--headers;
      padding: 20px 25px;
      margin-right: 8px;
      margin-bottom: 10px;
      vertical-align: top;
      @media @screen-tablet {
        padding: 20px 25px;
        margin-right: 10px;
        border-radius: 2px;
      }
    }
    a {
      &:hover {
        border-color: #283645;
      }
      &:active {
        background-color: #283645;
        border-color:#283645;
        color: #ffffff;
      }
    }
    b {
      border-color: @text-color--attention;
    }
    div {
      display: none;
      @media @screen-tablet {
        display: inline-block;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 3rem;
        text-transform: uppercase;
        padding: 16px 20px 16px 0px;
      }
    }
  }
}
