.form-content {
  @media @screen-tablet {
    margin-bottom: 38px;
    padding: 0px 39px;
  }
  @media @screen-desktop {
    padding: 0px 130px;
    margin-bottom: 13px;
  }
  p {
    font-size: 1.4rem;
    color: @text-color--headers;
    text-align: center;
    line-height: 3rem;
    padding: 20px 20px 25px 20px;
    @media @screen-tablet {
      font-size: 1.8rem;
      padding: 0px 50px;
      margin-bottom: 43px;
    }
    @media @screen-desktop {
      padding: 0px 75px;
      margin-bottom: 70px;
    }
    span {
      display: none; 
      @media @screen-tablet {
        display: block;
        font-size: 1.8rem;
        color: @text-color--headers;
        text-align: center;
        line-height: 3rem;
        padding: 0px 50px;
        margin: 0px;
      }
      @media @screen-desktop {
        padding: 0px;
        display: inline-block;
      }
    }
  }
  &__sending-form {
    padding: 0px 20px 0px 20px;
    @media @screen-tablet {
      padding: 0px;
    }
    button {
      cursor: pointer;
      color: @text-color--contrast;
      text-transform: uppercase;
      padding: 20px 15px;
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
      border: none;
      border-radius: 3px;
      width: 280px;
      background-color: @background-color--sucsses;
      margin-bottom: 41px;
      outline-style:none;
      @media @screen-tablet {
        width: 300px;
        margin-right: 138px;
      }
      @media @screen-desktop {
        margin-right: 324px;
      }
    }
    div {
      font-size: 1.4rem;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 11px;
      span {
        display: none;
        @media @screen-desktop {
          display: inline;
        }
      }
      @media @screen-tablet {
        display: inline-block;
      }
      sup {
        color: @text-color--attention;
      }
    }
  }
}

.user-info {
  width: 88%;
  padding: 0px 20px;
  margin-bottom: 21px;
  @media @screen-tablet {
    width: 618px;
    padding: 0px;
    margin-bottom: 35px;
  }
  @media @screen-desktop {
    display: flex;
    width: 960px;
    flex-wrap: wrap;
  }
  label {
    display: block;
    .label-text-style ();
    padding-left: 23px;
    padding-bottom: 13px;
    text-transform: uppercase;
    sup {
      padding-left: 4px;
    }
    @media @screen-desktop {
      width: 297px;
      order: 1;
      flex-shrink: 0;
    }
  }
  input[type="text"] {
    font-size: 1.8rem;
    font-family: 'Open Sans', Arial, sans-serif;
    display: inline-block;
    .border-style ();
    line-height: 30px;
    padding: 14px;
    margin-bottom: 23px;
    width: 88%;
    outline-style:none;
    .input-border-conditions ();
    @media @screen-tablet {
      width: 590px;
    }
     @media @screen-desktop {
      width: 267px;
      margin-right: 21px;
      order: 2;
      &:nth-child(3) {
        margin-right: 0px;
      }
    }
  }
  input::-webkit-input-placeholder {
    font-size: 1.8rem;
    font-weight: 400;
    color: @text-color--headers;
    padding-left: 5px;
  }
  input:-moz-placeholder {
    font-size: 1.8rem;
    font-weight: 400;
    color: @text-color--headers;
    padding-left: 5px;
  }
}

.type-application {
  background-color: @background-color--slider;
  width: 88%;
  padding: 39px 18px 0px 18px;
  margin-bottom: 43px;
  @media @screen-tablet {
    padding: 0px;
    background-color: #ffffff;
    margin-bottom: 56px;
    width: 623px;
  }
  @media @screen-desktop {
    width: 880px;
  }
  fieldset {
    border: none;
    @media @screen-tablet {
      border: 2px solid @border-color;
      padding: 13px 0px 14px 64px;
    }
    @media @screen-desktop {
      width: 870px;
      font-size: 0px;
    }
  }
  legend {
    display: block;
    .label-text-style ();
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 34px;
    line-height: 1.4rem;
    @media @screen-tablet {
      padding: 0px 20px;
    }
  }
  label {
    font-size: 1.8rem;
    font-weight: 400;
    display: block;
    line-height: 3rem;
    margin-bottom: 45px;
     @media @screen-desktop {
      width: 170px;
      margin-right: 88px;
      display: inline-block;
      &:last-child{
        margin-right: 0px;
      }
    }
  }

  &__radio {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
    &:not(checked) {
      position: absolute;
      opacity: 0;
    }
    &:not(checked) + label {
      position: relative;
      padding: 1px 0 0 52px;
    }
    &:not(checked) + label:before {
      content: '';
      position: absolute;
      top: 0px;
      left: -6px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: #fff;
      border: 2px solid @border-color;
      @media @screen-tablet {
        border: 2px solid @border-color;
      }
    }
    &:not(checked) + label:after {
      content: '';
      position: absolute;
      top: 12px;
      left: 6px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #FFF;
    }
    &:checked + label:after {
      background-color: @text-color--attention;
    }
  }
  &__radio + label {
    cursor: pointer;
  }
  label{
    &:hover {
      &:before {
        border-color: #283645;
        }
      }
    //&:checked {
    // &:before {
    //border-color: #d22856; ????? На какое состояние этот стиль???
    // }
    //}
  }
}

.travel-duration {
  padding: 0px 18px 0px 9px;
  width: 88%;
  margin-bottom: 17px;
  @media @screen-tablet {
    padding: 0px;
    background-color: #ffffff;
    margin-bottom: 55px;
    width: 623px;
  }
  @media @screen-desktop {
    width:880px;
  }
  fieldset {
    border: none;
    @media @screen-tablet {
      border: 2px solid @border-color;
      padding: 9px 0px 7px 58px;
      .clearfix();
    }
    @media @screen-desktop {
      width:875px;
      font-size: 0px;
    }
  }
  legend {
    display: block;
    .label-text-style ();
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media @screen-tablet {
      margin-bottom: 27px;
      padding: 0px 20px;
    }
  }
  label {
    .label-text-style ();
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-bottom: 25px;
    @media @screen-tablet {
      margin-bottom: 35px;
    }
    @media @screen-desktop {
      margin-bottom: 22px;
      text-align: left;
      padding-left: 44px;
      margin-bottom: 15px;
    }
  }
  input[type="data"],
  input[type="text"] {
    font-size: 1.8rem;
    font-family: 'Open Sans', Arial, sans-serif;
    display: inline-block;
    .border-style ();
    line-height: 30px;
    padding: 14px;
    margin-bottom: 17px;
    outline-style:none;
    .input-border-conditions ();
  }
  button {
    cursor: pointer;
    font-size: 42px;
    font-family: 'Open Sans', Arial, sans-serif;
    display: inline-block;
    border-top: 2px solid @border-color;
    border-bottom: 2px solid @border-color;
    background-color: #fff;
    outline-style:none;
    vertical-align: top;
  }
  input::-webkit-input-placeholder {
    font-size: 1.8rem;
    font-weight: 400;
    color: @text-color--headers;
    padding-left: 5px;
    @media @screen-tablet {
      padding-left: 8px;
    }
    @media @screen-desktop {
      padding-left: 5px;
    }
  }
  input:-moz-placeholder {
    font-size: 1.8rem;
    font-weight: 400;
    color: @text-color--headers;
    padding-left: 5px;
    @media @screen-tablet {
      padding-left: 8px;
    }
    @media @screen-desktop {
      padding-left: 5px;
    }
  }
  &__trip-info {
    padding: 14px;
    margin-bottom: 17px;
    width: 250px;
    @media @screen-tablet {
      width: 210px;
      margin-bottom: 18px;
    }
    @media @screen-desktop {
      width: 207px;
      margin-bottom: 20px;
      padding: 14px 19px 14px 8px;
     }
  }
  .trip-info-wrapper {
    @media @screen-tablet {
      display: block;
      float: left;
    }
    @media @screen-desktop {
      width: 279px;
      display: inline-block;
      float: none;
    }
    label {
      @media @screen-tablet {
      text-align: left;
      padding-left: 22px;
      }
      @media @screen-desktop {
        padding-left: 19px;
      }
    }
  }
  &__trip-date {
    padding: 14px 0px 14px 0px;
    width: 129px;
    text-align: center;
    margin-bottom: 18px;
    vertical-align: top;
    @media @screen-tablet {
      width: 95px;
    }
     @media @screen-desktop {
      width: 100px;
      margin-bottom: 20px;
      padding: 14px 8px 14px 0px;
     }
  }
  .trip-date-wrapper {
     font-size: 0px;
    @media @screen-tablet {
      display: block;
      float: right;
      padding-right: 57px;
    }
    @media @screen-desktop {
      width: 294px;
      display: inline-block;
      float: none;
      padding: 0px;
    }
  }
  &__btn-minus {
    padding: 0px 20px 1px 25px;
    border-left: 2px solid @border-color;
    border-right: none;
    position: relative;
    color: transparent;
    &:hover {
      box-shadow: inset 0px 0px 0px 2px #283645;
      border-top:none;
      border-bottom: none;
      padding-bottom: 3px;
      padding-top: 2px;
      border-left: none;
      padding-right: 19px;
      padding-left: 30px;
      margin-right: -2px;
    }
    &:after {
        content:"";
        position: absolute;
        display: block;
        font-size: 54px;
        top: 28px;
        left: 19px;
        width:20px;
        height: 4px;
        background-color: #283645;
      }
    &:hover {
      &:after {
        top: 30px;
        left: 21px;
      }
    }
    &:active {
      background-color: #283645;
      color: #283645;
    }
  }
  &__btn-plus {
      padding: 0px 17px 1px 17px;
      border-left: none;
      color: #283645;
      border-right: 2px solid @border-color;
    &:hover {
      box-shadow: inset 0px 0px 0px 2px #283645;
      border-top:none;
      border-bottom: none;
      padding-bottom: 3px;
      padding-top: 2px;
      border-right: none;
      padding-right: 19px;
      padding-left: 19px;
      margin-left: -2px;
    }
    &:active {
      background-color: #283645;
      color: #ffffff;
    }
  }
}

.travelers {
  background-color: @background-color--slider;
  padding-bottom: 32px;
  padding-top: 35px;
  margin-bottom: 40px;
  padding-left: 10px;
  @media @screen-tablet {
    background-color: #ffffff;
    padding: 0px;
    width: 623px;
    margin-bottom: 56px;
  }
  @media @screen-desktop {
    width:942px;
  }
  fieldset {
    border: none;
    @media @screen-tablet {
      border: 2px solid @border-color;
    }
    @media @screen-desktop {
      width:925px;
      padding-right: 0px;
      padding-bottom: 0px;
    }
  }
  legend {
    .label-text-style ();
    text-transform: uppercase;
    padding-left: 38px;
    @media @screen-tablet {
      text-align: center;
      padding: 0px 30px;
      margin-bottom: 33px;
      display: block;
    }
  }
  &__count {
    padding: 32px 0px 32px 0px;
    font-size: 0px;
    display: inline-block;
    border-bottom: 2px solid @border-color;
    @media @screen-tablet {
      text-align: left;
      padding: 0px 0px 24px 0px;
      margin: 0px 49px;
      display: block;
    }
    @media @screen-desktop {
      margin: 0px 56px 36px 47px;
    }
    input[type="text"] {
      font-size: 1.8rem;
      font-family: 'Open Sans', Arial, sans-serif;
      display: inline-block;
      .border-style ();
      line-height: 30px;
      padding: 14px;
      margin-bottom: 17px;
      outline-style:none;
      .input-border-conditions ();
      @media @screen-tablet {
        border: transparent;
      }
    }
    input::-webkit-input-placeholder {
      font-size: 1.8rem;
      font-weight: 400;
      color: @text-color--headers;
      padding-left: 5px;
    }
    input:-moz-placeholder {
      font-size: 1.8rem;
      font-weight: 400;
      color: @text-color--headers;
      padding-left: 5px;
    }
    button {
      cursor: pointer;
      font-size: 42px;
      font-family: 'Open Sans', Arial, sans-serif;
      display: inline-block;
      border-top: 2px solid @border-color;
      border-bottom: 2px solid @border-color;
      background-color: #fff;
      outline-style:none;
      vertical-align: top;
    }
  }
  &__trip-count {
    width: 129px;
    text-align: center;
    margin-bottom: 18px;
    .input-border-conditions ();
    @media @screen-tablet {
      width: 95px;
      border: none;
    }
  }
  &__btn-minus {
    padding: 0px 20px 1px 25px;
    border-left: 2px solid @border-color;
    border-right: none;
    position: relative;
    color: transparent;
    &:hover {
      box-shadow: inset 0px 0px 0px 2px #283645;
      border-top:none;
      border-bottom: none;
      padding-bottom: 3px;
      padding-top: 2px;
      border-left: none;
      border-right: transparent;
      padding-right: 19px;
      padding-left: 30px;
      margin-right: -2px;
    }
    &:after {
        content:"";
        position: absolute;
        display: block;
        font-size: 54px;
        top: 28px;
        left: 19px;
        width:20px;
        height: 4px;
        background-color: #283645;
      }
    &:hover {
      &:after {
        top: 30px;
        left: 21px;
      }
    }
    &:active {
      background-color: #283645;
      color: #283645;
    }
  }
  &__btn-plus {
      padding: 0px 17px 1px 17px;
      border-left: none;
      color: #283645;
      border-right: 2px solid @border-color;
    &:hover {
      box-shadow: inset 0px 0px 0px 2px #283645;
      border-top:none;
      border-bottom: none;
      padding-bottom: 3px;
      padding-top: 2px;
      border-right: none;
      border-left: transparent;
      padding-right: 19px;
      padding-left: 19px;
      margin-left: -2px;
    }
    &:active {
      background-color: #283645;
      color: #ffffff;
    }
  }
  &__info-form {
    @media @screen-tablet {
      padding: 0px 0px 38px 0px;
      margin-left: 49px;
    }
    @media @screen-desktop {
       margin-left: 46px;
       padding: 0px 0px 31px 0px;
    }
  }
  &__names {
    padding-top: 36px;
    @media @screen-tablet {
      padding-top: 34px;
    }
    @media @screen-desktop {
      display: inline-block;
      width: 385px;
      position: relative;
      margin-right: 16px;
      margin-bottom: 28px;
      padding: 0px;
    }
    header {
      .clearfix ();
      padding-bottom: 12px;
      padding-left: 24px;
      span {
        float: left;
        .label-text-style ();
        padding-top: 3px;
        @media @screen-tablet {
          margin-right: 24px;
        }
      }
      label {
        float: left;
        .label-text-style ();
        text-transform: uppercase;
        margin-left: 45px;
      }
    }
    span {
      float: left;
      .label-text-style ();
      @media @screen-tablet {
        color: @text-color--headers;
        font-size: 1.8rem;
      }
    }
    input[type="text"] {
      font-size: 1.8rem;
      font-family: 'Open Sans', Arial, sans-serif;
      display: block;
      .border-style ();
      line-height: 3rem;
      padding: 14px;
      width: 187px;
      outline-style:none;
      .input-border-conditions ();
      @media @screen-tablet {
        width: 267px;
        display: inline-block;
      }
    }
    input::-webkit-input-placeholder {
      font-size: 1.8rem;
      font-weight: 400;
      color: @text-color--headers;
      padding-left: 5px;
      @media @screen-tablet {
        padding-left: 5px;
      }
    }
    input:-moz-placeholder {
      font-size: 1.8rem;
      font-weight: 400;
      color: @text-color--headers;
      padding-left: 5px;
      @media @screen-tablet {
        padding-left: 5px;
      }
    }
    button {
      display: none;
      cursor: pointer;
      outline-style:none;
      &:hover {
        border-bottom: 2px solid #d22856;
        color: @text-color--attention;
      }
      &:active {
        opacity: 0.7;
      }
      @media @screen-tablet {
        display: inline-block;
        font-size: 1.3rem;
        font-weight: 400;
        border: none;
        background-color: #fff;
        color: @text-color--headers;
        text-transform: uppercase;
        margin-left: 51px;
        padding: 0px;
      }
      @media @screen-desktop {
        position: absolute;
        right: -437px;
        top: 52px;
      }
    }
  }
  &__nick {
    padding-left: 62px;
    padding-top: 26px;
    padding-bottom: 8px;
    @media @screen-tablet {
      padding-left: 84px;
      padding-bottom: 11px;
    }
    @media @screen-desktop {
      width: 300px;
      display: inline-block;
      padding:0px;
    }
    label {
      float: left;
      width: 100%;
      .label-text-style ();
      text-transform: uppercase;
      padding-bottom: 12px;
      padding-left: 20px;
      @media @screen-tablet {
        padding-left: 23px;
      }
    }
    input[type="text"] {
      font-size: 1.8rem;
      font-family: 'Open Sans', Arial, sans-serif;
      display: block;
      .border-style ();
      line-height: 3rem;
      padding: 14px;
      width: 187px;
      outline-style:none;
      .input-border-conditions ();
      @media @screen-tablet {
        width: 267px;
        display: inline-block;
      }
    }
    input::-webkit-input-placeholder {
      font-size: 1.8rem;
      font-weight: 400;
      color: @text-color--headers;
      padding-left: 5px;
      @media @screen-tablet {
        padding-left: 5px;
      }
    }
    input:-moz-placeholder {
      font-size: 1.8rem;
      font-weight: 400;
      color: @text-color--headers;
      padding-left: 5px;
      @media @screen-tablet {
        padding-left: 5px;
      }
    }
  }
  &__form-number {
    .border-style ();
    border-right: none;
    padding: 22px 26px;
    background-color: #fff;
    @media @screen-tablet {
      margin-right: 21px;
      padding: 20px 25px;
      border-right: 2px solid @border-color;
      background-color: @background-color--slider;
    }
  }
}

.travel-achievements {
  padding: 0px 15px 0px 10px;
  @media @screen-tablet {
    padding: 0px;
    margin-bottom: 55px;
  }
  @media @screen-desktop {
    width: 942px;
  }
  fieldset {
    border: none;
    @media @screen-tablet {
      border: 2px solid @border-color;
      padding-left: 57px;
      padding-top: 49px;
      padding-bottom: 2px;
    }
    @media @screen-desktop {
      width: 880px;
      padding: 50px 0px 8px 52px;
      font-size: 0px;
    }
  }
  legend {
    display: block;
    .label-text-style ();
    text-align: center;
    text-transform: uppercase;
    padding: 7px 20px 41px 20px;
    line-height: 1.7rem;
    @media @screen-tablet {
      padding: 0px 30px;
    }
  }
  label {
    font-size: 1.8rem;
    font-weight: 400;
    display: block;
    line-height: 3rem;
    margin-bottom: 52px;
    @media @screen-desktop {
      width: 200px;
      margin-left: 50px;
      display: inline-block;
      &:nth-child(3n) {
        margin-left: 0px;
      }
    }
  }
  &__checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
    &:not(checked) {
      position: absolute;
      opacity: 0;
    }
    &:not(checked) + label {
      position: relative;
      padding: 0 0 0 60px;
    }
    &:not(checked) + label:before {
      content: '';
      position: absolute;
      top: -4px;
      left: 1px;
      width: 35px;
      height: 35px;
      .border-style ();
      background: #fff;
    }
    &:not(checked) + label:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 14px;
      width: 15px;
      height: 15px;
      background: #FFF;
    }
    &:checked + label:after {
      content: "";
      position: absolute;
      left: 3px;
      width: 35px;
      height: 30px;
      background-image: url("../img/sprt.svg");
      background-repeat: no-repeat;
      background-position: -256px -64px;
      background-size: 300px;
    }
  }
  &__checkbox + label {
    cursor: pointer;
  }
  label {
    &:hover {
      &:before {
        border-color: #283645;
        box-shadow: -1px -1px 0px #283645; ////???? Тот же вопрос, чтои с радиобаттонами
      }
    }
  }
}

.travel-photo {
  background-color: @background-color--slider;
  padding-top: 28px;
  padding-bottom: 11px;
  margin-bottom: 48px;
  position: relative;
  @media @screen-tablet {
    background-color: #ffffff;
    width: 623px;
    padding: 0px;
    margin-bottom: 66px;
  }
  @media @screen-desktop {
    width:100%;
  }
  fieldset {
    border: none;
    @media @screen-tablet {
      border: 2px solid @border-color;
      padding: 36px 56px 14px 56px;
      margin-bottom: 14px;
    }
    @media @screen-desktop {
    padding-bottom: 43px;
    }
  }
  legend {
    display: block;
    .label-text-style ();
    padding-left: 26px;
    padding-bottom: 31px;
    text-transform: uppercase;
    @media @screen-tablet {
      text-align: center;
      padding: 0px 30px 0px 26px;
    }
  }
  input[type="file"] {
    opacity: 0;
    width: 5px;
    height: 5px;
    position: absolute;
    display: inline-block;
    outline-style:none;
  }
  label {
    cursor: pointer;
    position: absolute;
    font-size: 1.8rem;
    font-weight: 600;
    color: @text-color--headers;
    background-color: @background-color--light;
    display: inline-block;
    .border-style ();
    line-height: 3rem;
    padding: 14px 0px;
    width: 276px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      border-color:#283645;
      @media @screen-desktop {
        border-color:#d22856;
        background-color: #ffffff;
        color:#d22856;
      }
    }
    &:active {
      background-color: #283645;
      border-color: #ffffff;
      color: #ffffff;
      @media @screen-desktop {
        border-color:#ffffff;
        background-color: #d22856;
        color:#ffffff;
        opacity: 0.7;
      }
    }
    @media @screen-tablet {
      padding: 14px 5px 14px 0px;
      width: 490px;
    }
    @media @screen-desktop {
      width: 99%;
      color: #ffffff;
      background-color: #d22856;
      border-color: #d22856;
      border-radius: 5px;
    }
  }
  &__btn-file--wrap {
    position: relative;
    width:280px;
    padding-bottom: 96px;
    margin-left: 11px;
    border-bottom: 2px solid @border-color;
    @media @screen-tablet {
      width:500px;
      padding-left: 0px;
      padding-bottom: 104px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
    @media @screen-desktop {
      width:100%;
    }
  }
  &__images {
    padding-top: 21px;
    font-size: 0px;
    @media @screen-tablet {
      padding-top: 0px;
    }
  }
  figure {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 15px 27px 12px 10px;
    position: relative;
    &:nth-child(3n) {
        margin-right: 0px;
      }
    @media @screen-tablet {
      margin: 17px 69px 34px 0px;
    }
    @media @screen-desktop {
      margin-right: 55px;
      margin-bottom: 12px;
      &:nth-child(3n) {
        margin-right: 55px;
      }
      &:nth-child(5n) {
        margin-right: 0px;
      }
    }
    img {
      padding-bottom: 7px;
      width: 68px;
      height: 68px;
      @media @screen-tablet {
        width: 120px;
        height: 120px;
      }
    }
    figcaption {
      font-size: 1.2rem;
      text-transform: uppercase;
      width: 68px;
      @media @screen-tablet {
        font-size: 1.4rem;
        padding-top: 9px;
        width: 120px;
      }
    }
  }
  &__btn-cancel {
    cursor: pointer;
    position: absolute;
    top: -17px;
    left: 74%;
    font-size: 2.8rem;
    text-decoration: none;
    padding: 1px 8px;
    border: 1px solid @border-color;
    border-radius: 50%;
    background-color: @background-color--light;
    color: @border-color;
    font-weight: 100;
    @media @screen-tablet {
      top: -27px;
      left: 78%;
      font-size: 3.8rem;
      padding: 7px 15px;
      border: 2px solid @border-color;
    }
  }
}

.failure-popup {
  position: absolute;
  width: 280px;
  padding: 70px 20px 50px 20px;
  top: 1120px;
  left: 0px;
  display: none;
  background-color: @background-color--light;
  box-shadow: 0px 0px 12px #d8d8d8;
  @media @screen-tablet {
    width: 420px;
    top: 912px;
    left: 120px;
    padding: 20px 20px 50px 20px;
  }
  header {
    .headers-text-style ();
    padding-top: 20px;
    letter-spacing: 0.5px;
    padding-bottom: 13px;
    @media @screen-tablet {
      font-size: 3rem;
      line-height: 4rem;
      padding: 13px 90px 4px 90px;
    }
  }
  p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.6rem;
    padding-bottom: 21px;
    @media @screen-tablet {
      font-size: 1.8rem;
      line-height: 2.4rem;
      padding: 0px 50px 21px 50px;
    }
  }
  button {
    color: @text-color--contrast;
    text-transform: uppercase;
    padding: 21px 15px;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 3px;
    width: 280px;
    background-color: @background-color--sucsses;
    outline-style:none;
    @media @screen-tablet {
      width: 300px;
      padding-left: 13px;
      margin-left: 60px;
    }
  }
}

.request-popup {
  position: absolute;
  width: 320px;
  padding: 37px 0px 50px 0px;
  top: 1605px;
  left: 0px;
  display: none;
  background-color: @background-color--slider;
  box-shadow: 0px 10px 20px #d9d8d8;
  @media @screen-tablet {
    top: 1379px;
    left: 120px;
    width: 462px;
    padding: 0px 0px 50px 0px;
  }
  header {
    .headers-text-style ();
    padding: 40px 20px 30px 20px;
    letter-spacing: 0.5px;
    background-color: @background-color--light;
    @media @screen-tablet {
      font-size: 3rem;
      line-height: 4rem;
      padding: 40px 50px 21px 46px;
    }
  }
  p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.4rem;
    margin: 0px;
    padding: 0px 20px 30px 20px;
    margin-bottom: 48px;
    background-color: @background-color--light;
    @media @screen-tablet {
      font-size: 1.8rem;
      line-height: 2.4rem;
      padding: 0px 74px 35px 70px;
    }
  }
  button {
    color: @text-color--contrast;
    text-transform: uppercase;
    padding: 21px 15px;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 3px;
    margin: 0px 20px;
    width: 280px;
    background-color: @background-color--sucsses;
    outline-style:none;
    @media @screen-tablet {
      width: 300px;
      padding-left: 13px;
      margin: 0px 20px 0px 80px;
    }
  }
}
