.header {
  background-image: url("../img/background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: @background-color--dark;
  margin-bottom: 24px;
    @media @retina {
            background-image: url("../img/background-mobile@2x.jpg"),
                              url("../img/background-mobile@3x.jpg");

    }
    @media @screen-tablet {
      background-image: url("../img/background-tablet@1x.jpg");
      @media @retina {
      background-image: url("../img/background-tablet@2x.jpg");
      }
      .clearfix ();
    }
    @media @screen-desktop {
      background-image: url("../img/background-fullsize.jpg");
      background-size: 100%;
      background-position: 0 0;
    }
  h1 {
    display: block;
    word-wrap: break-word;
    .big-headers-text-style (); // +line-height
    color: @text-color--contrast;
    line-height: 2.8rem;
    padding: 21px 20px 41px 20px;
    @media @screen-tablet {
      font-size: 5rem;
      line-height: 5.8rem;
      padding: 38px 20px 45px 22px;
    }
  }
  &--make-full-size {
    margin-bottom: 24px;
    @media @screen-tablet {
      margin-bottom: 19px;
      padding-bottom: 80px;
      background-image: url("../img/iphone-hand-tablet@1x.png"), 
                        url("../img/background-tablet@1x.jpg");
      background-position: bottom center, top center;
      background-repeat: no-repeat;
      background-color: transparent;
      @media @retina {
        background-image: url("../img/iphone-hand-tablet@2x.png"), 
                        url("../img/background-tablet@2x.jpg");
      }
    }
    h1 {
      display: block;
      word-wrap: break-word;
      .big-headers-text-style (); // +line-height
      color: @text-color--contrast;
      line-height: 2.8rem;
      padding: 7px 20px;
      @media @screen-tablet {
        float: left;
        font-size: 4rem;
        line-height: 4.8rem;
        width: 247px;
        padding: 67px 66px 20px 66px;
      }
      &:after {
        content: "";
        background-image: url("../img/iphone-hand-mobile.png");
        background-repeat: no-repeat;
        display: block;
        margin: 30px 0px 0px -21px;
        padding-top: 30px;
        width: 259px;
        height: 285px;
        border: 2px solid red;
        @media @retina {
          background-image: url("../img/iphone-hand-mobile@2x.png"),
                            url("../img/iphone-hand-mobile@3x.png");
        }
        @media @screen-tablet {
          width: 0px;
          height: 0px;
          opacity: 0;
          padding: 0px;
          margin: 0px;
        }
      }
    }
  }
  &--make-middle-size {
    padding-bottom: 10px;
    @media @screen-tablet {
      padding-bottom: 15px;
      margin-bottom: 93px;
    }
    h1 {
      padding: 16px 20px 30px 20px;
      @media @screen-tablet {
        padding: 37px 40px 30px 36px;
        line-height: 6rem;
      }
      @media @screen-desktop {
        padding: 29px 84px 53px 85px;
      }
    }
  }
  &__head-line {
    .clearfix ();
    background-color: rgba(15, 20, 25, 0.5);
    padding: 6px 20px;
    position: relative;
    @media @screen-tablet {
      padding: 25px 40px;
    }
     @media @screen-desktop {
      padding: 25px 40px 27px 127px;
     }
  }
  &__logo-link {
    float: left;
    display: block;
    width: 80px;
    .a-decoration ();
    font-size: 3rem; //big + light
    font-weight: @weight-light;
    color: @text-color--contrast;
    letter-spacing: 3px; // letter spacing ??
    padding: 41px 0px 14px 0px;
    background-image: url("../img/logotype-white-mobile.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 81px;
    @media @screen-tablet {
      position: relative;
      width: 200px;
      overflow: hidden;
      padding: 30px 0px 28px 70px;
      background-image: url("../img/logotype-white-tablet.svg");
      background-position: top left;
      background-size: 151px;
    }
    @media @screen-desktop {
      position: static;
      background-image: url("../img/logotype-white-desktop.svg");
    }
  }
  &__btn-menu {
    float: right;
    width: 70px;
    height: 49px;
    background-image: url("../img/sprt.svg");
    background-repeat: no-repeat;
    background-position: 10px -88px;
    background-size: 428px;
    @media @screen-tablet {
      background-position: 11px -86px;
    }
    @media @screen-desktop {
      display: none;
    }
  }
  &__menu {
    @media @screen-desktop {
    float:right;
    .clearfix();
     width:695px;
     margin-top: 20px;
   }
  }
  &__list {
    display: none;
    position: absolute;
    top: 55px;
    left: 0px;
    padding: 0px;
    @media @screen-tablet {
      top: 101px;
      width: 100%;
    }
   @media @screen-desktop {
      display: inline;
      position: static;
     }
    li {
      list-style: none;
      text-align: center;
      border-bottom: 1px solid black;
      border-top: 1px solid #485361;
       @media @screen-desktop {
      display: inline-block;
      padding: 0px;
      border: none; ////ДА ДА ДА, ДИЗАЙНЕР - МОЛОДЕЦ!!!
      &:nth-child(2) {
        margin-left:72px;
      }
      &:nth-child(3) {
        margin-left: 62px;
      }
      &:nth-child(4) {
        margin-left: 64px;
      }
     }
    }
    a {
      font-size: @font-size--medium;
      font-weight: @weight-semi-bold;
      .a-decoration ();
      display: block;
      color: @text-color--contrast;
      background-color: #283645;
      padding: 18px 86px;
      @media @screen-desktop {
      display: inline-block;
      padding: 0px;
      text-transform: none;
      font-weight: @weight-light;
      background-color: transparent;
      letter-spacing: 0.6px;
     }
    }
  }
  &__slogan {
    display: block;
    word-wrap: break-word;
    .big-headers-text-style (); // +line-height
    color: @text-color--contrast;
    line-height: 2.8rem;
    padding: 16px 20px 42px 20px;
  }
  &__download {
    text-align: center;
    background-color: @background-color--dark;
    padding-top: 27px;
    margin-top: -55px;
    @media @screen-tablet {
      padding-top: 28px;
      float: left;
      width: 362px;
      text-align: center;
      background-color: transparent;
    }
  }
  &__btn-download {
    display: inline-block;
    padding: 16px 15px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    .headers-text-style ();
    color: #ffffff;
    text-decoration: @text-decoration;
    margin-bottom: 30px;
    width: 245px;
    letter-spacing: 0.5px;
    @media @screen-tablet {
      margin-bottom: 45px;
    }
  }
  &__logo-line {
    font-size: 0;
    a {
      display: inline-block;
      vertical-align: top;
      width: 80px;
      height: 67px;
      color: #ffffff;
    }
  }
  &__apple-img {
    background-image: url("../img/apple-logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 13%; //////Background size??????
  }
  &__android-img {
    background-image: url("../img/android-logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%; //////Background size??????
  }
  &__windows-img {
    background-image: url("../img/microsoft-logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%; //////Background size??????
  }
  &__phone-types {
    font-size: @font-size--small;
    font-weight: @weight-light;
    color: @text-color--contrast;
    padding: 13px 15px 28px 15px;
    line-height: 2.4rem;
    @media @screen-tablet {
      font-size: @font-size--medium;
      padding: 26px 0px 28px 20px;
    }
  }
}

