.content {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    width: 650px;
    height: 940px;
    top: 11%;
    left: -71px;
    z-index: -1;
    background-color: @background-color--slider;
    transform: rotate(175deg);
    @media @screen-tablet {
      width: 1000px;
      top: 14%;
      transform: rotate(175deg);
      left: -4%;
      height: 1000px;
    }
  }
  &__promo-slogan {
    margin: 0px 19px 118px 19px;
    @media @screen-tablet {
      margin: 0px 19px 53px 19px;
    }
    @media @screen-desktop {
      margin-bottom: 77px;
    }
    h2 {
      .big-headers-text-style ();
      display: block;
      word-wrap: break-word;
      line-height: 2.8rem;
      &:nth-child(1) {
        margin-bottom: 30px;
      }
      @media @screen-tablet {
        font-size: 4rem;
        line-height: 4.7rem;
        &:nth-child(1) {
          margin-bottom: 0px;
        }
        &:nth-child(2) {
          width: 345px;
          margin: 0px auto;
        }
      }
      @media @screen-desktop {
        font-size: 5rem;
        line-height: 6rem;
        &:nth-child(2) {
          width: 600px;
        }
      }
    }
  }
  &__promo-info {
    margin: 0px 19px;
    text-align: center;
    background-image: url("../img/iphone-case-mobile@1x.png");
    background-position:  bottom center;
    background-repeat:  no-repeat;
    background-size: 156px;
    @media @retina {
        background-image: url("../img/iphone-case-mobile@2x.png"),
                          url("../img/iphone-case-mobile@3x.png");
    }
    .clearfix ();
    @media @screen-tablet {
        background-image: url("../img/iphone-screen-tablet-3@1x.png"),
                          url("../img/iphone-screen-tablet-2@1x.png"),
                          url("../img/iphone-screen-tablet-1@1x.png");
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-position: 3% 0%; 
            padding-bottom: 42px;
            margin: 0px 31px;
            padding-top: 60px;
            background-size: 268px;
        @media @retina {
          background-image: url("../img/iphone-screen-tablet-3@2x.png"),
                          url("../img/iphone-screen-tablet-2@2x.png"),
                          url("../img/iphone-screen-tablet-1@2x.png"),
                          url("../img/iphone-screen-tablet-3@3x.png"),
                          url("../img/iphone-screen-tablet-2@3x.png"),
                          url("../img/iphone-screen-tablet-1@3x.png");
        }
    }
    @media @screen-desktop {
        background-image: url("../img/iphone-screen-desktop-1@1x.png"),
                          url("../img/iphone-screen-desktop-2@1x.png"),
                          url("../img/iphone-screen-desktop-3@1x.png");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 12% 0%, 50% 0%, 88% 0%;
        background-size: 291px;
        padding-top: 341px;
        padding-bottom: 18px;
        @media @retina {
          background-image: url("../img/iphone-screen-desktop-1@2x.png"),
                          url("../img/iphone-screen-desktop-2@2x.png"),
                          url("../img/iphone-screen-desktop-3@2x.png"),
                          url("../img/iphone-screen-desktop-1@3x.png"),
                          url("../img/iphone-screen-desktop-2@3x.png"),
                          url("../img/iphone-screen-desktop-3@3x.png");
        }
    }
    header {
      .headers-text-style();
      text-decoration: none;
      letter-spacing: 0.5px; // letter-spacing?
      margin-bottom: 15px;
      word-wrap: break-word;
      @media @screen-tablet {
        display: block;
        text-align: left;
        float: right;
        width: 320px;
        padding-top: 15px;
        margin-bottom: 1px;
      }
      @media @screen-desktop {
        font-size: 3rem;
        text-align: center;
        float: none;
        width: 100%;
        margin-bottom: 24px;
      }
    }
    p {
      font-size: 1.4rem;
      font-weight: 400;
      text-align: center;
      line-height: 2.4rem;
      margin-bottom: 34px;
      word-wrap: break-word;
      @media @screen-tablet {
        text-align: left;
        float: right;
        width: 320px;
        margin-bottom: 23px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      @media @screen-desktop {
        float: none;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        line-height: 3rem;
      }
    }
    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 156px;
      height: 280px;
      background-image: url("../img/iphone-screen-mobile-3@1x.png"),
                  url("../img/iphone-screen-mobile-2@1x.png"), 
                  url("../img/iphone-screen-mobile-1@1x.png");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 136px;
      @media @retina {
        background-image: url("../img/iphone-screen-mobile-3@2x.png"),
                  url("../img/iphone-screen-mobile-2@2x.png"), 
                  url("../img/iphone-screen-mobile-1@2x.png"),
                  url("../img/iphone-screen-mobile-3@3x.png"),
                  url("../img/iphone-screen-mobile-2@3x.png"), 
                  url("../img/iphone-screen-mobile-1@3x.png");
      }
      @media @screen-tablet {
        opacity: 0;
        width: 0px;
        height: 0px;
        background: none;
        }
      }
    }
  &__promo-info-block {
      @media @screen-desktop {
      display: inline-block;
      width: 245px;
      vertical-align: top;
      font-size: 0px;
      &:nth-child(2) {
        margin-left: 72px;
        margin-right: 72px;
      }
    }
  }
  &__promo-effect {
    display: none;
    @media @screen-tablet {
      display: block;
      position: relative;
      .clearfix();
      padding-top: 94px;
      padding-bottom: 50px;
      padding-left:31px;
      padding-right: 31px;
      background-color: #ffffff;
      background-image: url("../img/timer.svg"); //////ТОЛЬКО ОБОДОК????
      background-repeat: no-repeat;
      background-position: 9% 100%;
      background-size: 267px;
      height: 212px;
      overflow: hidden;
    }
    @media @screen-desktop {
      background-position: 14% 88%;
      background-size: 301px;
      background-color: @background-color--slider;
    }
      &:after {
        @media @screen-tablet {
        content:"24";
        position: absolute;
        display: block;
        width: 155px;
        height: 152px;
        font-size: 10.4rem;
        top: 115px;
        left: 64px;
        border: 14px solid @text-color--attention;
        color: @text-color--attention;
        border-radius: 50%;
        font-weight: 700;
        padding-top: 37px;
        padding-left: 34px;
      }
       @media @screen-desktop {
        width: 220px;
        height: 220px;
        font-size: 12rem;
        line-height: 21rem;
        top: 120px;
        left: 155px;
        text-align: center;
        padding: 0px;
       }
    }
     @media @screen-desktop {
      padding-top: 139px;
    }
      header {
        word-wrap: break-word;
        @media @screen-tablet {
        float: right;
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.6rem;
        letter-spacing: 1px;
        width: 170px;
        margin-right: 151px;
        margin-bottom: 10px;
      }
         @media @screen-desktop {
        font-size: 3rem;
        float: none;
        width: 100%;
        margin-bottom: 21px;
      }
    }
      p {
        word-wrap: break-word;
        @media @screen-tablet {
        float: right;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        width: 305px;
        margin-right: 15px;
        margin-top: 0px;
        margin-bottom: 10px;
      }
        @media @screen-desktop {
        float: none;
        width: 525px;
        font-size: 1.8rem;
        line-height: 3rem;
        margin-bottom: 31px;
        }
      }
      a {
        word-wrap: break-word;
        @media @screen-tablet {
        float: right;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: @text-color--attention;
        width: 320px;
      }
      @media @screen-desktop {
        float: none;
        font-size: 1.8rem;
        line-height: 3rem;
      }
    }
  }
  &__promo-effect-block {
    @media @screen-desktop {
    float: right;
    width:674px;
    }
  }
}

.review-slider {
  width: 300%;
  height: 247px;
  padding-top: 52px;
  overflow: hidden;
  margin-bottom: 115px;
  background-color: @background-color--light;
  @media @screen-tablet {
    height: 240px;
    margin-bottom: 113px;
  }
  &:before {
    content: "";
    position: absolute;
    width: 700px;
    height: 470px;
    top: 74%;
    left: -20px;
    z-index: -1;
    background-color: @background-color--slider;
    transform: rotate(175deg);
    @media @screen-tablet {
      width: 1000px;
      top: 80%;
    }
  }
  &__slides {
    position: relative;
    height: 280px;
    width: 33.3%;
    @media @screen-tablet {
      height: 200px;
      overflow: hidden;
    }
    input {
      display: none;
    }
    input:checked + div {
      z-index: 2;
    }
  }
  &__slide {
    position: relative;
    height: 280px;
    z-index: 1;
    width: 100%;
    @media @screen-tablet {
      display: flex;
      flex-direction: column-reverse;
      height: 197px;
    }
    header {
      .headers-text-style();
      text-decoration: none;
      padding-bottom: 20px;
      @media @screen-tablet {
        flex-basis: 33px;
        font-size: 2rem;
        line-height: 3rem;
        padding-bottom: 0px;
        letter-spacing: 0.5px;
      }
    }
    div {
      display: none;
      @media @screen-tablet {
        display: block;
        flex-basis: 20px;
        font-size: 1.4rem;
        text-align: center;
        line-height: 3rem;
        font-weight: 400;
      }
    }
    p {
      font-size: 1.4rem;
      font-weight: 400;
      text-align: center;
      line-height: 3rem; // line-height
      margin: 0px 20px;
      @media @screen-tablet {
        font-size: 1.8rem;
        flex-basis: 125px;
        padding: 0px 20px 0px 20px;
      }
    }
  }
}

.price-slider {
  width: 100%;
  height: 340px;
  margin-bottom: 36px;
  overflow: hidden;
  position: relative;
  @media @screen-tablet {
    margin-bottom: 0px;
    height: 293px;
  }
}

.price-slide {
  width: 100%;
  position: absolute;
  height: 120px;
  transform: translateX(-259px);
  background-color: @background-color--light;
  border-collapse: collapse;
  @media @screen-tablet {
    width: 67%;
    transform: translateX(0px);
    margin-left: 43px;
    margin-bottom: 88px;
    border-radius: 10px;
  }
  th {
    padding: 0px 88px;
    background-color: @background-color--dark;
    border-right: 2px solid @background-color--slider;
    @media @screen-tablet {
      padding: 0px 27px;
      border-right: 2px solid @background-color--slider;
      background-color: @background-color--dark;
      border-radius: 5px;
    }
    &:first-child {
      display: none;
      @media @screen-tablet {
        background-color: @background-color--slider;
        color: @background-color--slider;
        display: block;
        width: 95px;
      }
    }
    input {
      display: none;
    }
  }
  td {
    font-size: @font-size--small;
    font-weight: @weight-light;
    text-transform: uppercase;
    padding-left: 23px;
    line-height: 0px;
    height: 56px;
    position: relative;
    border: 2px solid @background-color--slider;
     &:first-child {
      display: none;
    }
    @media @screen-tablet {
      color: #ffffff;
      height: 0px;
      padding: 15px 0px 15px 10px;
      line-height: 1rem;
      &:first-child {
        display: table-cell;
        color: @background-color--dark;
        padding-left: 10px;
        text-transform: none;
        height: 13px;
        &:after {
          display: none;
        }
      }
    }
  }
  &__tarif {
    color: #ffffff;
    background-color: @background-color--dark;
    @media @screen-tablet {
      background-color: @background-color--slider;
    }
    header {
      .headers-text-style();
      text-transform: uppercase;
      padding-top: 21px;
      padding-bottom: 11px;
      @media @screen-tablet {
        font-size: 1.6rem;
        padding-top: 18px;
      }
    }
    span {
      .big-headers-text-style ();
      display: block;
      width: 100px;
      padding-bottom: 22px;
      @media @screen-tablet {
        font-size: 1.8rem;
        padding-bottom: 15px;
      }
    }
  }
  &__hit {
    position: relative;
    overflow: hidden;
    &:before {
      content: "ХИТ";
      left: -41px;
      top: 12px;
      position: absolute;
      font-size: 1.6rem;
      line-height: 2.6rem;
      background-color: #d22856;
      width: 130px;
      transform: rotate(-45deg);
      @media @screen-tablet {
        top: 4px;
        left: -44px;
        font-size: 1.2rem;
      }
    }
  }
  /////И ТУТ НАЧИНАЕТСЯ ЖЕСТЬ =) И сердцу тревожно в груди, 
  /////И Ленин такой молодой, и юный октябрь впереди..
  &__pink-filter {
    td {
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        right:10px;
        top:10px;
        background-image: url("../img/sprt.svg");
        background-repeat: no-repeat;
        background-position: -430px -41px;
        background-size: 500px;
        @media @screen-tablet {
          background-position: -360px -30px;
          background-size: 425px;
          width: 50px;
          right:52px;
          top:1px;
        }
      }
    }
  }
  &__smiles { 
    td { 
      &:nth-child(1) {
        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 50px;
          height: 50px;
          right:10px;
          top:6px;
          background-image: url("../img/sprt.svg");
          background-repeat: no-repeat;
          background-position: -325px -41px;
          background-size: 485px;
          @media @screen-tablet {
          display: none;
            }
          }
      }
      &:nth-child(2) {
        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 50px;
          height: 50px;
          right:10px;
          top:10px;
          background-image: url("../img/sprt.svg");
          background-repeat: no-repeat;
          background-position: -430px -41px;
          background-size: 500px;
          @media @screen-tablet {
          background-position: -277px -39px;
          background-size: 425px;
          width:50px;
          right:52px;
          top:1px;
            }
          }
        }
      &:nth-child(3) {
        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 50px;
          height: 50px;
          right:10px;
          top:6px;
          background-image: url("../img/sprt.svg");
          background-repeat: no-repeat;
          background-position: -325px -41px;
          background-size: 485px;
          @media @screen-tablet {
          background-position: -277px -39px;
          background-size: 425px;
          width:50px;
          right:52px;
          top:1px;
          right:52px;
          }
        }
      }
      &:nth-child(4) {
        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 50px;
          height: 50px;
          right:10px;
          top:6px;
          background-image: url("../img/sprt.svg");
          background-repeat: no-repeat;
          background-position: -325px -41px;
          background-size: 485px;
          @media @screen-tablet {
          background-position: -360px -30px;
          background-size: 425px;
          width: 50px;
          right:52px;
          top:1px;
          }
        }
      }
    }
  }
  &__comments {
    td {
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        right:10px;
        top:6px;
        background-image: url("../img/sprt.svg");
        background-repeat: no-repeat;
        background-position: -325px -41px;
        background-size: 485px;
        @media @screen-tablet {
          background-position: -277px -39px;
          background-size: 425px;
          width:50px;
          right:52px;
          top:1px;
          right:52px;
        }
      }
    }
  }
}

.toggle {
  &__review-slider {
    position: relative;
    top: -112px;
    margin-bottom: 21px;
    text-align: center;
    background-color: #ffffff;
    @media @screen-tablet {
      margin-bottom: 0px;
    }
  }
  &__price-slider {
    position: relative;
    top: 322px;
    text-align: center;
    @media @screen-tablet {
      display: none;
    }
  }
  label {
    display: inline-block;
    height: 6px;
    width: 6px;
    margin-right: 11px;
  }
  &__btn {
    border: 3px solid @background-color--light;
    background: #b5b9be;
    border-radius: 50%;
  }
  &__btn--active {
    border: 3px solid @background-color--dark;
    background: @background-color--light;
    border-radius: 50%;
  }
}
