@import 'variables.less';


.headers-text-style (){
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}
.big-headers-text-style (){
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
}
.p-text-style (){
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}
.a-decoration (){
  text-decoration:none;
  text-transform:uppercase;
}
.clearfix (){
  content:'';
  display:table;
  clear:both;
}
.border-style (@b-size: 2px, @b-type: solid, @b-color: #e5e5e5) {
  border: @b-size @b-type @b-color;
}
.div-text-style () {
  font-size: 1.2rem;
  color: #d22856;
}



html,
body {
  width: 320px;
  margin: 0;
  padding: 0;
  font-size: @html-size-base;
  font-family:@font-family;
}
//header
.layout-positioner {
  width: 280px;
  margin: 0 auto;
  outline: 2px solid yellow;
}
.header {
  outline: 2px solid black;
  background-color: @offset-background-color;

  &__head-line {
    outline: 2px solid red;
    &:after {
      .clearfix ();
    }
  }
  &__logo-link {
    float: left;
    display: block;
    word-wrap: @word-wrap;
    width: 75px;
    .a-decoration ();
    font-size: @font-size--big;
    font-weight: @weight-light;
    color: @text-color;
    outline: 2px solid green;
  }
  &__btn-menu {
    float:right;
    width:20px;
    height:20px;
    outline: 2px solid green;
  }
  &__list {
    outline: 2px solid red;
    padding:0;
    margin:0;
      li {
        list-style:none;
        text-align: @text-align;
        outline: 2px solid green;
      }
      a {
        font-size: @font-size;
        font-weight: @weight-bold;
        .a-decoration ();
        display: block;
        color: @text-color;
      }
  }
  &__slogan {
    display: block;
    word-wrap: @word-wrap;
    .big-headers-text-style ();
    color: @text-color;
    outline: 2px dotted green;
  }
 &__download {
    text-align: @text-align;
    outline: 2px solid red;
    background-color: @offset-background-color;
  }
  &__logo-line {
    font-size: 0;
    outline: 2px solid green;
  }
  &__logo-line a {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    color: #ffffff;
    outline: 2px solid green;
  }
  &__phone-types {
    font-size: @font-size--small;
    font-weight: @weight-light;
    color: @text-color;
    outline: 2px solid green;
  }
}
.btn-download-application {
  .headers-text-style ();
  color: @text-color;
  outline: 2px solid @text-color;
  text-decoration: @text-decoration;
}
//content
.content {
  outline: 2px solid black;
  background-color: @basic-background-color;
  &__promo-slogan {
    outline: 2px solid red; 
    h2 {
      .big-headers-text-style ();
      display: block;
      word-wrap: @word-wrap;
      outline: 2px solid green;
    }
  }
  &__promo-info {
  outline: 2px solid red; 
    header {
      .headers-text-style();
      outline: 2px solid green;
      text-decoration: none;
    }
    p {
      .p-text-style ();
      outline: 2px solid green;
    }
  }
}
.review-slider {
  &__input {
    outline: 2px solid red; 
  }
  &__slides {
    position: relative;
    height: 200px;
  }
  &__slide {
    position: absolute;
    header {
      .headers-text-style();
      outline: 2px solid green;
      text-decoration: none;
    }
    p {
      .p-text-style ();
      outline: 2px solid green;
    }
  }
  &__toggle {
    text-align: @text-align;
  }
}
.price-slider {
  outline: 2px solid green;
  &__toggle {
  text-align: @text-align;
  }
}
.price-slide {
  td {
    font-size: @font-size--small;
    font-weight: @weight-light;
  }
  &__tarif {
    header {
      .headers-text-style();
      text-transform: @text-transform;
      display:block;
      height: 50px;
  }
    span {
      .big-headers-text-style ();
      display:block;
      height: 50px;
      }
    }
}
//footer
.footer {
  outline: 2px solid black;
  &__contacts {
    outline: 2px solid red;
      header {
      .big-headers-text-style ();
      word-wrap:@word-wrap;
    }
  }
  &__call-us, &__write-us, &__guests {
    header {
      .headers-text-style();
      word-wrap:@word-wrap;
      color: @offset-color;
    }
  }
  &__call-us, &__guests {
    p {
      .big-headers-text-style ();
      word-wrap:@word-wrap;
      color: @attention-color;
    }
  }
  &__write-us {
    a {
      .big-headers-text-style ();
      word-wrap:@word-wrap;
      color: @attention-color;
      display: block;
      text-align: @text-align;
      text-decoration: none;
      text-transform: lowercase;
    } 
  }//blog-page-footer
  &--inner-pages {
    text-align: @text-align;
    a {
      text-decoration:@text-decoration;
      color: @offset-color;
    }
  }
  &__logo-glasses {
    .headers-text-style ();
  }
  &__about-developers {
    .p-text-style();
  }
}
.social-buttons {
  a {
  .border-style();
  border-radius: 50%;
  color: @attention-color;
 }
}

//blog-content
.blog-content {
  outline: 2px solid black;
  &__news {
    border-bottom: 2px solid @border-color;
    a {
      .headers-text-style ();
      text-decoration:@text-decoration;
      color: @offset-color;
    }
    div {
      .div-text-style ()
    }
    p {
      font-size: @font-size--small;
      color: @offset-color;
      outline: 2px solid green;
    }
  }
  &__news:nth-child(4) {
    border-bottom: none;
  }
  &__paginator {
    text-align: @text-align;
    a, b {
      .border-style();
      .headers-text-style();
      text-decoration:@text-decoration;
      color: @offset-color;
    }
    b {
      border-color: @attention-color;
    }
  }
}

//post-content
.post-content {
  &__story {
    border-bottom: 2px solid @border-color;
    text-align: @text-align;
    header{
      font-size: 3rem;
      color: @offset-color;
    }
    div {
      .div-text-style ();
      text-transform: @text-transform;
    }
    p {
      font-size: 1.6rem;
      color: @offset-color;
    }
  }
  &__header {
    font-size: 1.8rem;
    font-weight: 700;
    color: @offset-color;
    text-transform: @text-transform;
  }
  p {
    font-size: 1.4rem;
    font-weight: 300;
    color: @offset-color;
  }
  &__prehistory {
    a {
      color: @attention-color;
    }
  }
  &__hotel-list {
    li {
      list-style: none;
      font-size: 1.4rem;
      font-weight: 300;
    }
  }
  blockquote {
    margin: 0px;
    padding-left: 20px;
    border-left: 2px solid @attention-color;
  }
  i {
    color:#8a8a8a;
  }
  &__paginator {
    a {
      .border-style();
      .headers-text-style();
      text-decoration:@text-decoration;
      color: @offset-color;
    }
  }
}




