@import 'mixins.less';
@import 'variables.less';
@import 'debug.less';

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: @html-size-base;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1;
    @media @screen-tablet {
        width: 700px;
    }
}
//header
.header {
    background-image: url("../img/header-background-img.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: @background-color--dark;
    margin-bottom: 24px;
    background-size: cover;
    @media @screen-tablet {
        .clearfix ();
    }
    h1 {
        display: block;
        word-wrap: break-word;
        .big-headers-text-style (); // +line-height
        color: @text-color--contrast;
        line-height: 2.8rem;
        padding: 5px 20px;
    }
    h1:after {
        content: "";
        background-image: url("../img/index-header-hand-img.png");
        display: block;
        margin: 30px 0px 0px -21px;
        padding-top: 30px;
        width: 290px;
        height: 285px;
        @media @screen-tablet {
                font-size: 5rem;
                line-height: 5.8rem;
                padding: 38px 20px 45px 22px;
        }
    }
    &--make-full-size {
        margin-bottom: 24px;
        @media @screen-tablet {
            margin-bottom: 18px;
            padding-bottom: 81px;
            background: url("../img/index-header-hand-tablet-img.png") bottom center no-repeat, url("../img/header-background-tablet-img.jpg") top center no-repeat;
            background-color: transparent;
        }
        h1 {
            display: block;
            word-wrap: break-word;
            .big-headers-text-style (); // +line-height
            color: @text-color--contrast;
            line-height: 2.8rem;
            padding: 5px 20px;
            @media @screen-tablet {
                float: left;
                font-size: 4rem;
                line-height: 4.8rem;
                width: 247px;
                padding: 67px 66px 26px 66px;
            }
            h1:after {
            content: "";
            background-image: url("../img/index-header-hand-img.png");
            display: block;
            margin: 30px 0px 0px -21px;
            padding-top: 30px;
            width: 290px;
            height: 285px;
            @media @screen-tablet {
                width: 0px;
                height: 0px;
                opacity: 0;
                padding:0px;
                margin:0px;
                }
            }
        }
    }
    &--make-middle-size {
        padding-bottom: 10px;
        h1 {
            padding: 16px 20px 30px 20px;
        }
    }
    &__head-line {
        .clearfix ();
        background-color: rgba(15, 20, 25, 0.5);
        padding: 3px 20px;
        position: relative;
        @media @screen-tablet {
            padding: 25px 40px;
        }
    }
    &__logo-link {
        float: left;
        display: block;
        word-wrap: break-word;
        width: 80px;
        .a-decoration ();
        font-size: 3rem; //big + light
        font-weight: @weight-light;
        color: @text-color--contrast;
        letter-spacing: 3px; // letter spacing ??
        padding: 15px 0px;
        @media @screen-tablet {
            position: relative;
            width: 200px;
            overflow: hidden;
            padding: 15px 0px 15px 70px;
            &:before {
                content: "";
                width: 60px;
                height: 40px;
                background-image: url("../img/header-white-glasses-icon.png");
                background-repeat: no-repeat;
                position: absolute;
                top: 2px;
                left: 0px;
            }
        }
    }
    &__btn-menu {
        float: right;
        width: 70px;
        height: 42px;
        background-image: url("../img/menu-open-btn-icon.png");
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    &__list {
        display: none;
        position: absolute;
        top: 55px;
        left: 0px;
        padding: 0px;
        li {
            list-style: none;
            text-align: center;
            border-bottom: 1px solid black;
            border-top: 1px solid #485361;
        }
        a {
            font-size: @font-size--medium;
            font-weight: @weight-semi-bold;
            .a-decoration ();
            display: block;
            color: @text-color--contrast;
            background-color: #283645;
            padding: 18px 86px;
        }
    }
    &__download {
        text-align: center;
        background-color: @background-color--dark;
        padding-top: 26px;
        margin-top: -50px;
        @media @screen-tablet {
            float: left;
            width: 362px;
            text-align: center;
            background-color: transparent;
        }
    }
    &__btn-download {
        display: inline-block;
        padding: 16px 15px;
        border: 3px solid #ffffff;
        border-radius: 30px;
        .headers-text-style ();
        color: #ffffff;
        text-decoration: @text-decoration;
        margin-bottom: 30px;
        width: 245px;
        letter-spacing: 0.5px;
        @media @screen-tablet {
            margin-bottom: 45px;
        }
    }
    &__logo-line {
        font-size: 0;
        a {
            display: inline-block;
            vertical-align: top;
            width: 80px;
            height: 67px;
            color: #ffffff;
        }
    }
    &__apple-img {
        background-image: url("../img/download-apple-icon.png");
        background-repeat: no-repeat;
        background-position: 50% 13%;
    }
    &__android-img {
        background-image: url("../img/download-android-icon.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &__windows-img {
        background-image: url("../img/download-microsoft-icon.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &__phone-types {
        font-size: @font-size--small;
        font-weight: @weight-light;
        color: @text-color--contrast;
        padding: 13px 15px 28px 15px;
        line-height: 2.4rem;
        @media @screen-tablet {
            font-size: @font-size--medium;
            padding: 26px 0px 28px 20px;
        }
    }
}

//content
.content {
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        width: 275%;
        height: 117%;
        top: -20%;
        left: -225%;
        z-index: -1;
        background-color: @background-color--slider;
        transform: rotate(85deg);
        @media @screen-tablet {
            width: 509%;
            top: 74%;
        }
    }
    &__promo-slogan {
        margin: 0px 19px 50px 19px;
        h2 {
            .big-headers-text-style ();
            display: block;
            word-wrap: break-word;
            line-height: 2.8rem;
            &:nth-child(1) {
                margin-bottom: 30px;
            }
            @media @screen-tablet {
                font-size: 4rem;
                line-height: 4.7rem;
                &:nth-child(1) {
                    margin-bottom: 0px;
                }
                &:nth-child(2) {
                    width: 345px;
                    margin: 0px auto;
                }
            }
        }
    }
    &__promo-info {
        margin: 0px 19px;
        text-align: center;
        .clearfix ();
        @media @screen-tablet {
            background-image: url(../img/index-content-tablet-phone-img.png);
            background-repeat: no-repeat;
            background-position: 2% -10%;
            padding-top: 60px;
            padding-bottom: 50px;
            margin: 0px 31px;
        }
        header {
            .headers-text-style();
            text-decoration: none;
            letter-spacing: 0.5px; // letter-spacing?
            margin-bottom: 15px;
            @media @screen-tablet {
                display: block;
                text-align: left;
                float: right;
                width: 320px;
                padding-top: 15px;
                margin-bottom: 1px;
            }
        }
        p {
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            line-height: 2.4rem;
            margin-bottom: 34px;
            @media @screen-tablet {
                text-align: left;
                float: right;
                width: 320px;
                margin-bottom: 23px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        &:after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 156px;
            height: 280px;
            background: url(../img/content-iphone-img.png) no-repeat;
            @media @screen-tablet {
                opacity: 0;
                width: 0px;
                height: 0px;
                background: none;
            }
        }
    }
    &__promo-effect {
      display:none;
      @media @screen-tablet {
        display: block;
        header {
          font-weight: 600;
          font-size: 3rem;
          line-height: 3.6rem;
        }
        p {
          font-weight: 600;
          font-size: 3rem;
          line-height: 3.6rem;
        }
      }
    }
    &__promo-effect {
      display:none;
      @media @screen-tablet {
        display: block;
        header {
          font-weight: 600;
          font-size: 3rem;
          line-height: 3.6rem;
          outline: 2px solid green;
        }
        p {
          font-weight: 600;
          font-size: 3rem;
          line-height: 3.6rem;
          outline: 2px solid green;
        }
      }
    }
}

.review-slider {
    width: 300%;
    height: 280px;
    padding-top: 52px;
    overflow: hidden;
    margin-bottom: 115px;
    background-color: @background-color--light;
    @media @screen-tablet {
      height: 320px;
      margin-bottom: 113px;
    }
    &:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 104%;
        top: 39%;
        left: -200%;
        z-index: -1;
        background-color: @background-color--slider;
        transform: rotate(85deg);
    }
    &__slides {
        position: relative;
        height: 120px;
        width: 33.3%;
        input {
            display: none;
        }
        input:checked + div {
            z-index: 2;
        }
    }
    &__slide {
        position: relative;
        height: 280px;
        z-index: 1;
        width: 100%;
        @media @screen-tablet {
          display: flex;
          flex-direction: column-reverse;
        }
        header {
            .headers-text-style();
            text-decoration: none;
            padding-bottom: 20px;
             @media @screen-tablet {
              flex-basis: 33px;
              font-size: 2rem;
              line-height: 3rem;
              padding-bottom: 0px;
              letter-spacing: 0.5px;
          }
        }
        div {
            display: none;
            @media @screen-tablet {
            display:block;
            flex-basis: 20px;
            font-size: 1.4rem;
            text-align: center;
            line-height: 3rem;
            font-weight: 400;
            }
        }
        p {
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            line-height: 3rem; // line-height
            margin: 0px 20px;
            @media @screen-tablet {
              font-size: 1.8rem;
              flex-basis: 125px;
              padding: 0px 20px 0px 20px;
            }
        }
     }
}

.price-slider {
    width: 100%;
    height: 340px;
    margin-bottom: 36px;
    overflow: hidden;
    position: relative;
    @media @screen-tablet {
      margin-bottom: 0px; 
      height: 293px; 
    }
}

.price-slide {
    width: 100%;
    position: absolute;
    height: 120px;
    margin-bottom: 88px;
    transform: translateX(-259px);
    background-color: @background-color--light;
    border-collapse: collapse;
    @media @screen-tablet {
       width: 67%;
       transform: translateX(0px);
       margin-left: 43px;
    }
    th {
        padding: 0px 88px;
        background-color: @background-color--dark;
        border-right: 2px solid @background-color--slider;
        @media @screen-tablet {
        padding: 0px 27px;
        border-right: 2px solid @background-color--slider;
        background-color: @background-color--dark;
        border-radius: 5px;
        }
        &:first-child {
          display: none;
          @media @screen-tablet {
          background-color: @background-color--slider;
          color: @background-color--slider;
          display:block;
          width: 95px;
          }
        }
        input {
            display: none;
        }
      }
    td {
        font-size: @font-size--small;
        font-weight: @weight-light;
        text-transform: uppercase;
        padding: 15px 0px;
        border: 2px solid @background-color--slider;
         @media @screen-tablet {
        color: #ffffff;
        &:first-child {
          color:@background-color--dark;
          padding-left: 10px;
          text-transform: none;
          }
        }
      }
    &__tarif {
        color: #ffffff;
        background-color: @background-color--dark;
        outline: 2px solid @background-color--slider;
        @media @screen-tablet {
          background-color: @background-color--slider;
        }
        header {
            .headers-text-style();
            text-transform: uppercase;
            padding-top: 21px;
            padding-bottom: 11px;
            @media @screen-tablet {
              font-size: 1.6rem;
              padding-top: 18px;
            }
          }
        span {
            .big-headers-text-style ();
            display: block;
            width: 100px;
            padding-bottom: 22px;
            @media @screen-tablet {
              font-size: 1.8rem;
              padding-bottom: 15px;
            }
        }
    }
}

.toggle {
    &__review-slider {
        position: relative;
        top: -112px;
        text-align: center;
    }
    &__price-slider {
        position: relative;
        top: 322px;
        text-align: center;
        @media @screen-tablet {
            display: none;
        }
    }
    label {
        display: inline-block;
        height: 6px;
        width: 6px;
        margin-right: 11px;
    }
    &__btn {
        border: 3px solid @background-color--light;
        background: #b5b9be;
        border-radius: 50%;
    }
    &__btn--active {
        border: 3px solid @background-color--dark;
        background: @background-color--light;
        border-radius: 50%;
    }
}

//footer
.footer {
    background-image: url("../img/footer-map-img.jpg");
    background-color: @background-color--dark;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 210px;
    margin-bottom: 10px;
    margin-top: 50px;
    @media @screen-tablet {
       background-image: url("../img/footer-map-tablet-img.jpg"); 
       background-position: 50% -4%;
       margin-top: 40px;
       padding-bottom: 377px;
    }
    &__contacts {
        position: relative;
        background-color: @background-color--light;
        @media @screen-tablet {
            padding: 0px 61px 215px 61px;
        &:after {
            .clearfix();
         }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            border: 160px solid transparent;
            border-top: 44px solid #ffffff;
            @media @screen-tablet {
            border: 336px solid transparent;
            border-top: 69px solid #ffffff;
            top:100%;
            left: 2%;
        }
        }

    }
    &__header {
        .big-headers-text-style ();
        word-wrap: break-word;
        line-height: 2.6rem; // - line-height
        margin-bottom: 38px;
        @media @screen-tablet {
          font-size: 4rem;
          line-height: 4.8rem;
          margin-bottom: 45px;
        }
    }
    &__call-us,
    &__write-us,
    &__guests {
        header {
            .headers-text-style();
            word-wrap: break-word;
            color: @text-color--headers;
            letter-spacing: 0.5px;
            padding-bottom: 8px;
            @media @screen-tablet {
                padding-bottom: 11px;
            }
        }
    }
    &__call-us,
    &__guests,
    &__write-us {
        a {
            .big-headers-text-style ();
            word-wrap: break-word;
            color: @text-color--attention;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    }
    &__call-us {
        @media @screen-tablet {
            float:left;
            width: 256px;
        }

        a {
            padding-bottom: 26px;
        }
    }
    &__guests {
        @media @screen-tablet {
            float:left;
            width: 579px;
            padding-top: 21px;
        }
        a {
            padding: 0px 20px 28px 20px;
            line-height: 2.8rem;
            @media @screen-tablet {
                padding: 0px 170px 28px 170px;
            }
        }
    }
    &__write-us {
        @media @screen-tablet {
            float:right;
            width: 256px;
        }
        a {
            padding-bottom: 30px;
        }
    }

    //blog-page-footer
    &--inner-pages {
        padding: 65px 20px 40px 20px;
        @media @screen-tablet {
            .clearfix();
            padding: 56px 20px 40px 2px;
        }
        a {
            text-decoration: @text-decoration;
            color: @text-color--headers;
        }
    }
    &__logo-glasses {
        font-size: 3rem;
        font-weight: @weight-normal;
        letter-spacing: 3px;
        position: relative;
        padding-left: 70px;
        margin-bottom: 58px;
        display: block;
        text-align: center;
        width: 210px;
        @media @screen-tablet {
            font-size: 3.2rem;
            letter-spacing: 2.5px;
            padding-left: 57px;
            padding-top:30px; 
            display: block;
            float:left;
            text-align: center;
            width: 187px;
        }
        &:before {
            content: "";
            width: 60px;
            height: 40px;
            position: absolute;
            background-image: url("../img/footer-pink-glasses-img.png");
            background-repeat: no-repeat;
            left: 24%;
            top: -40%;
            @media @screen-tablet {
            left: 17%;
            top: 29%;
            }
        }
    }
    &__about-developers {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        padding-right: 46px;
        @media @screen-tablet {
        padding: 40px 46px 13px 40px;
        float:right;
        width: 116px;
      }
    }
  }

.bottom-line {
        display:none;
        @media @screen-tablet {
            display: block;
            .clearfix();
            padding-top: 37px;
        }
         a {
            text-decoration: @text-decoration;
            color: @text-color--headers;
        }
        &__logo-glasses {
            font-size: 3.2rem;
            font-weight: @weight-normal;
            letter-spacing: 2.5px;
            position: relative;
            padding-left: 57px;
            display: block;
            float:left;
            text-align: center;
            width: 187px;
            &:before {
                content: "";
                width: 60px;
                height: 40px;
                position: absolute;
                background-image: url("../img/footer-pink-glasses-img.png");
                background-repeat: no-repeat;
                left: 17%;
                top: -33%;
               }
          }
    &__about-developers {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        padding-right: 46px;
        padding-top: 10px;
        float:right;
        width: 160px;
    }
    &__social-buttons {
        float: left;
        margin-top: 13px;
        margin-left: 7px;
        width: 189px;
    a {
        .border-style();
        border-radius: 50%;
        color: @text-color--attention;
        padding: 16px 23px;
        margin-right: 13px;
    }
  }
}

.social-buttons {
    text-align: center;
    padding-left: 10px;
    margin-bottom: 68px;
    @media @screen-tablet {
        .clearfix();
        float: left;
        margin-top: 13px;
        margin-left: 7px;
        width: 189px;
        margin-bottom: 0px;
        padding: 29px 10px;
    }
    a {
        .border-style();
        border-radius: 50%;
        color: @text-color--attention;
        padding: 16px 23px;
        margin-right: 13px;
    }
}

//blog-content
.blog-content {
    @media @screen-tablet {
            padding-top: 58px;
        }
    &__news {
        padding: 0px 20px;
        @media @screen-tablet {
            padding: 0px 30px 0px 102px;
            margin-bottom: 33px;
        }

        a {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2.7rem;
            text-decoration: @text-decoration;
            color: @text-color--headers;
            letter-spacing: 0.4px;
            padding: 11px 0px 10px 0px;
            display: block;
            @media @screen-tablet {
                font-size: 2.7rem;
                line-height: 3rem;
                letter-spacing: 0.5px;
                padding: 11px 0px 5px 0px;
            }
        }
        div {
            .div-text-style ();
            text-transform: uppercase;
             @media @screen-tablet {
                font-size: 1.4rem;
                line-height: 3rem;
            }
        }
        p {
            font-size: @font-size--small;
            color: @text-color--headers;
            padding: 7px 0px 19px 0px;
            line-height: 2.7rem;
            border-bottom: 2px solid @border-color;
             @media @screen-tablet {
                font-size: 1.8rem;
                line-height: 3rem;
                padding: 0px 60px 41px 0px;
                border-bottom: 2px dotted @border-color;
            }
        }
    }
    &__news:nth-child(3) {
        padding-top: 4px;
        padding-bottom: 9px;
        @media @screen-tablet {
            padding: 5px 30px 0px 102px;
            margin-bottom: 45px;
        }
    }
    &__news {
        &:nth-child(4) {
            p {
                border-bottom: none;
                @media @screen-tablet {
                padding-bottom: 10px;
                }
            }
        }
    }
    &__paginator {
        padding: 15px 10px 10px 19px;
        font-size: 0px;
        @media @screen-tablet {
        padding: 15px 10px 10px 43px;
        }
        div, a, b {
            display: inline-block;
        }
        a, b {
            .border-style();
            .headers-text-style();
            text-decoration: @text-decoration;
            color: @text-color--headers;
            padding: 20px 25px;
            margin-right: 8px;
            vertical-align: top;
            @media @screen-tablet {
            padding: 20px 25px;
            margin-right: 10px; 
            border-radius: 2px;
            }
        }
        b {
            border-color: @text-color--attention;
        }
        div {
            display: none;
            @media @screen-tablet {
                display: inline-block;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 3rem;
                text-transform: uppercase;
                padding: 16px 20px 16px 0px;
            } 
        }
    }
}

//post-content
.post-content {
    padding-top: 12px;
    &__story {
        text-align: center;
        margin-bottom: 27px;
        @media @screen-tablet {
               display: flex;
               flex-direction: column;
               overflow:hidden;
               flex-wrap: wrap;
               margin-bottom: 48px;
            }
        header {
            font-size: 3rem;
            font-weight: 600;
            letter-spacing: 0.5px; //letter-spacing
            line-height: 3.5rem;
            color: @text-color--headers;
            padding-bottom: 26px;
            @media @screen-tablet {
            font-size: 5rem;
            line-height: 6rem;
            padding: 41px 40px 0px 41px;
            letter-spacing: 1px;
            order:1;
            }
        }
        div {
            .div-text-style ();
            text-transform: uppercase;
            padding-bottom: 5px;
            @media @screen-tablet {
               font-size: 1.4rem; 
               order:3;
               padding: 0px 28px 0px 28px;
               background-color: #ffffff;
               align-self:center;
               margin-top: -30px;
            }
        }
        p {
            font-size: 1.6rem;
            color: @text-color--headers;
            line-height: 2.7rem;
            padding: 0px 20px 24px 20px;
            border-bottom: 2px solid @border-color;
            @media @screen-tablet {
               font-size: 2.4rem; 
               line-height: 4rem;
               order:2;
               padding: 0px 20px 40px 18px;
               border-bottom: 2px dotted @border-color;
            }
        }
    }
    &__header {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 3rem;
        color: @text-color--headers;
        text-transform: uppercase;
        padding-left: 20px;
        padding-bottom: 6px;
        @media @screen-tablet {
           font-size: 2.4rem;
            padding-left: 41px;
            padding-bottom: 4px;
        }
    }
    &__prehistory {
        margin-bottom: 30px;
        @media @screen-tablet {
            margin-bottom: 59px;
        }
        a {
            color: @text-color--attention;
        }
        p {
            .p-text-style ();
            line-height: 2.7rem;
            padding: 0px 16px 0px 19px;
            @media @screen-tablet {
            font-size: 1.8rem;
            line-height: 3rem;
            padding: 0px 33px 0px 40px;
            }
        }
    }
    &__find-hotel {
        p {
            .p-text-style ();
            line-height: 2.7rem;
            padding: 0px 16px 13px 19px;
            @media @screen-tablet {
            font-size: 1.8rem;
            line-height: 3rem;
            padding: 0px 50px 11px 40px;
            }
        }
    }
    &__hotel-list {
        @media @screen-tablet {
        padding-left: 20px;
        padding-bottom: 30px;
        }
        li {
            list-style: none;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 2.7rem;
            letter-spacing: 0.5px;
            @media @screen-tablet {
            font-size: 1.8rem;
            line-height: 3rem;
            padding-left: 55px;
            }
            &:nth-child(2) {
                padding: 27px 0px;
                @media @screen-tablet {
                   padding: 30px 0px 30px 55px; 
                }
            }
            &:nth-child(3) {
                padding-bottom: 13px;
            }
        }
    }
    blockquote {
        margin: 0px;
        padding-left: 20px;
        padding-bottom: 3px;
        @media @screen-tablet {
            padding-left: 33px;
            padding-bottom: 29px;
        }
        p {
            border-left: 2px solid @text-color--attention;
        }
    }
    i {
        color: #8a8a8a;
    }
    &__food {
        p {
            .p-text-style ();
            line-height: 2.7rem;
            padding: 0px 24px 13px 19px;
            @media @screen-tablet {
            font-size: 1.8rem;
            line-height: 3rem;
            padding: 0px 50px 11px 40px;
            }
        }
    }
    &__paginator {
        font-size: 0px;
        padding: 9px 0px 0px 19px;
        @media @screen-tablet {
            padding: 26px 0px 0px 44px;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow:hidden;
            flex-wrap: wrap;
        }
        a {
            .border-style();
            .headers-text-style();
            display: inline-block;
            text-decoration: @text-decoration;
            color: @text-color--headers;
            text-transform: uppercase;
            vertical-align: top;
        }
    }
    &__btn {
        margin-right: 18px;
        margin-bottom: 21px;
        padding: 20px 38px;
        @media @screen-tablet {
        margin-right: 27px;
        }
    }
    &__btn--big {
        padding: 20px 60px;
        margin-bottom: 8px;
        @media @screen-tablet {
        order:2;
        margin-bottom: 21px;
        padding: 20px 67px;
     }
    }
    &__btn--first {
        @media @screen-tablet {
        order:1;
     }
    }
    &__btn--last {
        @media @screen-tablet {
        order:3;
     }
    }
}

//form-content ////////////////////////////
.form-content {
    p {
        font-size: 1.4rem;
        color: @text-color--headers;
        text-align: center;
        line-height: 3rem;
        padding: 20px 20px 25px 20px;
    }
    &__sending-form {
        padding: 0px 20px 0px 20px;
        button {
            color: @text-color--contrast;
            text-transform: uppercase;
            padding: 20px 15px;
            font-size: 1.8rem;
            font-weight: 400;
            text-align: center;
            border: none;
            border-radius: 3px;
            width: 280px;
            background-color: @background-color--sucsses;
            margin-bottom: 41px;
        }
        div {
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 11px;
            sup {
                color: @text-color--attention;
            }
        }
    }
}

.user-info {
    width: 88%;
    padding: 0px 20px;
    margin-bottom: 25px;
    label {
        display: block;
        .label-text-style ();
        padding-left: 23px;
        padding-bottom: 13px;
        text-transform: uppercase;
        sup {
            padding-left: 4px;
        }
    }
    input[type="text"] {
        font-size: 1.8rem;
        font-family: 'Open Sans', Arial, sans-serif;
        display: inline-block;
        .border-style ();
        line-height: 30px;
        padding: 14px;
        margin-bottom: 23px;
        width: 88%;
    }
    input::-webkit-input-placeholder {
        font-size: 1.8rem;
        font-weight: 400;
        color: @text-color--headers;
        padding-left: 5px;
    }
    input:-moz-placeholder {
        font-size: 1.8rem;
        font-weight: 400;
        color: @text-color--headers;
        padding-left: 5px;
    }
}

.type-application {
    background-color: @background-color--slider;
    width: 88%;
    padding: 35px 18px 4px 18px;
    margin-bottom: 46px;
    header {
        display: block;
        .label-text-style ();
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 41px;
        line-height: 1.4rem;
    }
    label {
        font-size: 1.8rem;
        font-weight: 400;
        display: block;
        line-height: 3rem;
        margin-bottom: 45px;
    }
    &__radio {
        vertical-align: top;
        margin: 0 3px 0 0;
        width: 17px;
        height: 17px;
        &:not(checked) {
            position: absolute;
            opacity: 0;
        }
        &:not(checked) + label {
            position: relative;
            padding: 0 0 0 60px;
        }
        &:not(checked) + label:before {
            content: '';
            position: absolute;
            top: -2px;
            left: 4px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: #fff;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
        }
        &:not(checked) + label:after {
            content: '';
            position: absolute;
            top: 8px;
            left: 14px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #FFF;
        }
        &:checked + label:after {
            background-color: @text-color--attention;
        }
    }
    &__radio + label {
        cursor: pointer;
    }
}

.travel-duration {
    padding: 0px 18px 0px 18px;
    width: 88%;
    margin-bottom: 52px;
    header {
        display: block;
        .label-text-style ();
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 43px;
    }
    label {
        .label-text-style ();
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-bottom: 25px;
    }
    input[type="text"] {
        font-size: 1.8rem;
        font-family: 'Open Sans', Arial, sans-serif;
        display: inline-block;
        .border-style ();
        line-height: 3rem;
    }
    button {
        font-size: @html-size-base;
        font-family: 'Open Sans', Arial, sans-serif;
        display: inline-block;
        .border-style ();
        padding: 22px 26px;
        background-color: #fff;
    }
    input::-webkit-input-placeholder {
        font-size: 1.8rem;
        font-weight: 400;
        color: @text-color--headers;
        padding-left: 5px;
    }
    input:-moz-placeholder {
        font-size: 1.8rem;
        font-weight: 400;
        color: @text-color--headers;
        padding-left: 5px;
    }
    &__trip-info {
        padding: 14px;
        margin-bottom: 17px;
        width: 250px;
    }
    &__trip-date {
        padding: 11px 0px 17px 0px;
        width: 157px;
        text-align: center;
        margin-bottom: 18px;
    }
    &__btn-minus {
        margin-right: -4px;
    }
    &__btn-plus {
        margin-left: -5px;
    }
}

.travelers {
    background-color: @background-color--slider;
    padding-bottom: 40px;
    margin-bottom: 47px;
    &__count {
        text-align: center;
        padding: 32px 0px 32px 0px;
        label {
            .label-text-style ();
            text-transform: uppercase;
            display: block;
            margin-bottom: 35px;
        }
        input[type="text"] {
            font-size: 1.8rem;
            font-family: 'Open Sans', Arial, sans-serif;
            display: inline-block;
            .border-style ();
            line-height: 3rem;
        }
        input::-webkit-input-placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            color: @text-color--headers;
            padding-left: 5px;
        }
        input:-moz-placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            color: @text-color--headers;
            padding-left: 5px;
        }
        button {
            font-size: @html-size-base;
            font-family: 'Open Sans', Arial, sans-serif;
            display: inline-block;
            .border-style ();
            padding: 22px 26px;
            background-color: #fff;
        }
    }
    &__trip-count {
        padding: 11px 0px 17px 0px;
        width: 157px;
        text-align: center;
        margin-bottom: 18px;
    }
    &__btn-minus {
        margin-right: -5px;
    }
    &__btn-plus {
        margin-left: -5px;
    }
    &__info-form {
        padding: 0px 20px;
    }
    &__names {
        padding-top: 36px;
        header {
            .clearfix ();
            padding-bottom: 12px;
            padding-left: 24px;
            span {
                float: left;
                .label-text-style ();
                padding-top: 3px;
            }
            label {
                float: left;
                .label-text-style ();
                text-transform: uppercase;
                margin-left: 45px;
            }
        }
        span {
            float: left;
            .label-text-style ();
        }
        input[type="text"] {
            font-size: 1.8rem;
            font-family: 'Open Sans', Arial, sans-serif;
            display: block;
            .border-style ();
            line-height: 3rem;
            padding: 14px 0px;
            width: 213px;
        }
        input::-webkit-input-placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            color: @text-color--headers;
            padding-left: 17px;
        }
        input:-moz-placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            color: @text-color--headers;
            padding-left: 17px;
        }
    }
    &__nick {
        padding-left: 62px;
        padding-top: 26px;
        padding-bottom: 8px;
        label {
            float: left;
            width: 100%;
            .label-text-style ();
            text-transform: uppercase;
            padding-bottom: 12px;
            padding-left: 20px;
        }
        input[type="text"] {
            font-size: 1.8rem;
            font-family: 'Open Sans', Arial, sans-serif;
            display: block;
            .border-style ();
            line-height: 3rem;
            padding: 14px 0px;
            width: 213px;
        }
        input::-webkit-input-placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            color: @text-color--headers;
            padding-left: 17px;
        }
        input:-moz-placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            color: @text-color--headers;
            padding-left: 17px;
        }
        input::-webkit-input-placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            color: @text-color--headers;
            padding-left: 17px;
        }
        input:-moz-placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            color: @text-color--headers;
            padding-left: 17px;
        }
    }
    &__form-number {
        .border-style ();
        padding: 22px 26px;
        background-color: #fff;
        margin-right: -2px;
    }
    &__form-number {
        .border-style ();
        padding: 22px 26px;
        background-color: #fff;
        margin-right: -2px;
    }
}

.travel-achivements {
    padding: 0px 20px 0px 20px;
    header {
        display: block;
        .label-text-style ();
        text-align: center;
        text-transform: uppercase;
        padding: 0px 20px 44px 20px;
        line-height: 1.7rem;
    }
    label {
        font-size: 1.8rem;
        font-weight: 400;
        display: block;
        line-height: 3rem;
        margin-bottom: 52px;
    }
    &__checkbox {
        vertical-align: top;
        margin: 0 3px 0 0;
        width: 17px;
        height: 17px;
        &:not(checked) {
            position: absolute;
            opacity: 0;
        }
        &:not(checked) + label {
            position: relative;
            padding: 0 0 0 60px;
        }
        &:not(checked) + label:before {
            content: '';
            position: absolute;
            top: -4px;
            left: 1px;
            width: 35px;
            height: 35px;
            .border-style ();
            background: #fff;
        }
        &:not(checked) + label:after {
            content: 'V';
            position: absolute;
            top: 1px;
            left: 14px;
            width: 15px;
            height: 15px;
            background: #FFF;
        }
        &:checked + label:after {
            color: @text-color--attention;
        }
    }
    &__checkbox + label {
        cursor: pointer;
    }
}

.travel-photo {
    background-color: @background-color--slider;
    padding-top: 34px;
    padding-bottom: 17px;
    margin-bottom: 48px;
    position: relative;
    header {
        display: block;
        .label-text-style ();
        padding-left: 35px;
        padding-bottom: 35px;
        text-transform: uppercase;
    }
    input[type="file"] {
        opacity: 0;
        width: 5px;
        height: 5px;
        position: absolute;
        display: inline-block;
    }
    label {
        position: absolute;
        font-size: 1.8rem;
        font-weight: 600;
        color: @text-color--headers;
        background-color: @background-color--light;
        display: inline-block;
        .border-style ();
        line-height: 3rem;
        padding: 14px 0px;
        width: 276px;
        text-align: center;
        text-transform: uppercase;
    }
    &__btn-file--wrap {
        position: relative;
        display: block;
        padding-bottom: 96px;
        padding-left: 20px;
    }
    &__images {
        border-top: 2px solid @border-color;
        padding-top: 20px;
    }
    figure {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 15px 15px 12px 20px;
        position: relative;
        img {
            padding-bottom: 7px;
        }
        figcaption {
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
    &__btn-cancel {
        position: absolute;
        top: -17px;
        left: 74%;
        font-size: 2.8rem;
        text-decoration: none;
        padding: 1px 8px;
        border: 1px solid @border-color;
        border-radius: 50%;
        background-color: @background-color--light;
        color: @border-color;
        font-weight: 100;
    }
}

.failure-popup {
    position: absolute;
    width: 280px;
    padding: 70px 20px 50px 20px;
    top: 1120px;
    left: 0px;
    display: none;
    background-color: @background-color--light;
    box-shadow: 0px 0px 12px #d8d8d8;
    header {
        .headers-text-style ();
        padding-top: 20px;
        letter-spacing: 0.5px;
        padding-bottom: 13px;
    }
    p {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        line-height: 2.6rem;
        padding-bottom: 21px;
    }
    button {
        color: @text-color--contrast;
        text-transform: uppercase;
        padding: 21px 15px;
        font-size: 1.8rem;
        font-weight: 400;
        text-align: center;
        border: none;
        border-radius: 3px;
        width: 280px;
        background-color: @background-color--sucsses;
    }
}

.request-popup {
    position: absolute;
    width: 320px;
    padding: 37px 0px 50px 0px;
    top: 1605px;
    left: 0px;
    display: none;
    background-color: @background-color--slider;
    box-shadow: 0px 10px 20px #d9d8d8;
    header {
        .headers-text-style ();
        padding: 40px 20px 30px 20px;
        letter-spacing: 0.5px;
        background-color: @background-color--light;
    }
    p {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        line-height: 2.4rem;
        margin: 0px;
        padding: 0px 20px 30px 20px;
        margin-bottom: 48px;
        background-color: @background-color--light;
    }
    button {
        color: @text-color--contrast;
        text-transform: uppercase;
        padding: 21px 15px;
        font-size: 1.8rem;
        font-weight: 400;
        text-align: center;
        border: none;
        border-radius: 3px;
        margin: 0px 20px;
        width: 280px;
        background-color: @background-color--sucsses;
    }
}
