html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: @html-size-base;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1;
  @media @screen-tablet {
    width: 100%;
  }
  @media @screen-desktop {
    width: 100%;
  }
}
body {
  &:after {
  content:'';
  display: none;
  background-color: rgba(28,28,28, 0.2);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  }
}